*{
    margin:0px;
    font-family: Roboto;
}
.parent{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    padding-top:50px;
    padding-left:150px;
    cursor:default;
}

.top-section{
    background-color: #FFFFE0;
    height:800px;
}
.website-info{
    padding-top:60px;
    font-size: 20px;
    width: 200px;
}

@media (max-width:1200px){
    .website-title-img{
        width:0px;
        
    }
}
.website-info > .website-info-title{
    font-size:65px;
    width:100%;
    margin-bottom:20px;
}
.website-info > .website-info-info{
    width:100%;
    margin-bottom:26px;
}
.links{
    display:flex;
    justify-content: start;
    gap:10px
}
.email{
    background-color: #FFFFE0;
    width:50px;
    height:35px;
    object-fit:cover;
    transition: background-color .5s;

}
.email:hover{
    background-color: rgb(143, 143, 125);
}

.twitch{
    background-color: #FFFFE0;
    width:50px;
    height:40px;
    object-fit:contain;
    border: none;
    transition: background-color .5s;
}
.twitch:hover{
    background-color: rgb(143, 143, 125);
}


